{
  "semi": false,
  "singleQuote": true,

  "arrowParens": "avoid",
  "printWidth": 80,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "trailingComma": "all"
}
